h1
{ 
    color: #E652BB;
    font-family: 'Agency FB';
}
a
{
    color:#C60320
}
body
{

    background-image: url('https://i.pinimg.com/564x/36/07/1e/36071e7595b65d157604924a389ca8e1.jpg');
}

h2
{
color: #A9FF81;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

